body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .viewer {
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    user-select: none;
  }


  
  #productImage {
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: grab;
  }