body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .viewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
  }

  img {
    max-height: 300px;
  }
  
  #productImage {
    object-fit: cover;
    cursor: grab;
  }